<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data Form</title>
</head>
<body>
    <h2>User Data Form</h2>
    <form method="post" action="/signup/">
        {% csrf_token %}
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" required><br><br>

        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" required><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>



        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="email">Password</label>
        <input type="password" id="password" name="pass1" required><br><br>

        <label for="password">Confirm Password</label>
        <input type="password" id="password" name="pass2" required><br><br>

        <label for="mobile_no">Mobile Number:</label>
        <input type="text" id="mobile_no" name="mobile_no"><br><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city"><br><br>

        <label for="address">Address:</label><br>
        <textarea id="address" name="address" rows="4" cols="50"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
